@font-face {
  font-family: link;
  src: url('../fonts/entypo/link.ttf');
}
@font-face {
  font-family: email;
  src: url('../fonts/font-awesome/email.ttf');
}
@font-face {
  font-family: github;
  src: url('../fonts/font-awesome/github.ttf');
}
@font-face {
  font-family: linkedin;
  src: url('../fonts/web-symbols/linkedin.ttf');
}

* {
	margin: 0px;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}

body { margin: 10% 10%; }

header {
	background: #eef1f3;
	padding: 12%;
	font-size: 1em;
}

section {
	height: 100px;
	overflow: hidden;
	-webkit-transition: all 600ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition:         all 600ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

li {
	list-style: none;
	display: inline-block;
}

a {
	color: black;
	text-decoration: none;
}

h2 { padding: 38px 0px; }
h2:hover { opacity: .3; }

h4 {
	padding: 5%;
	font-size: 1.25em;
}
span {
		font-size: 1.5em;
/*		color: #b8afa6;*/
}

p {
	padding: 7%;
	border: 1px solid black;
	margin: 5%;
}

#projects {
	background: #ccd4da;
}

#about {
	background: #b5c1ca;
}

#my-face {
	margin: 0 auto;
	border: 1px solid #e4d9e5;
  border-radius: 70px;
	background-image: url("../img/ashleigh.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  height: 140px; width: 140px;
}

#contact {
	background-image: url("../img/prague.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#contact > ul:nth-child(0)::before { font-family: github; }
#contact > ul:nth-child(1)::before { font-family: email; }
#contact > ul:nth-child(2)::before { font-family: linkedin; }

img {
/*	  height: 100px; width: 30%;*/
}

#enigmatic      { background-image: url('../img/enigmatic.png'); }
#medtrakr       { background-image: url('../img/medtrakr.png'); }
#connectfour    { background-image: url('../img/connectfour.png'); }
#space          { background-image: url('../img/planets.png'); }
#oli-and-olive  { background-image: url('../img/oliandolive.png'); }
